# Kotlin Spring Boot
backend/build/
backend/bin/
backend/target/
backend/.gradle/
backend/.idea/
backend/*.iml

# React
frontend/node_modules/
frontend/build/
frontend/.env
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.DS_Store
frontend/.env.local
frontend/.env.development
frontend/.env.test
frontend/.env.production

frontend/yarn.lock
frontend/package-lock.json

frontend/.idea
